<!DOCTYPE>
<html>
   <head>
   <style>
     *{padding:0;margin:0;list-style:none;font-size:24px;line-height:30px;font-family:helvetica}
	#list li{margin:5px;padding:5px;background:#CCFFFF;border-radius:5px;}
	#list li b{color:#0000FF}
	#err_msg{margin:5px;padding:5px;background:#FF0033;border-radius:5px;color:white;}
	#delete_item{font-size:16px;}
	#edit_item{font-size:16px;}
	#delete_item:hover{font-size:18px;}
	#edit_item:hover{font-size:18px;}
	#create_item{margin:5px;padding:5px;background:#00FFFF;border-radius:5px;}
	#create_item li{margin:10px;}
	#modal{
	   position:fixed;z-index:999;width:100%;height:100%;left:0;top:0;
	   background-color:rgba(0,0,0,0.6);
	}
	#modal_content{
	   background:white;
	   border:2px solid yellow;border-radius:5px;
	   margin:10% auto;width:80%;
	}
   </style>
     <script src="jquery.js" type="text/javascript"></script>
     <script src="vue2.3.js" type="text/javascript"></script>
   </head>
   <body>
      <div id="app">
	  <div id="modal" v-if="edit_switch">
	    <div id="modal_content">
		  <ul>
		    <li>
		     <span>Brand: </span>
			 <input placeholder="please enter brand" v-model.trim="edited_item.brand"/><!--trim modifier is to remove whitespace-->
		   </li>
		   <li>
		     <span>Model: </span>
			 <input placeholder="please enter brand" v-model.trim="edited_item.model"/>
		   </li>
		   <li>
		     <span>Engine: </span>
			 <select v-model="edited_item.engine">
			    <option value="Petrol">Petrol</option>
				<option value="Diesel">Diesel</option>
				<option value="Electric">Electric</option>
				<option value="Hybrid">Hybrid</option>
				<option value="Hydrogen">Hydrogen</option>
			 </select>
		   </li>
		   <li>
		     <span>Automatic: </span>
			 <input type="radio" value="Automatic" v-model="edited_item.gearbox"/>
			 <span>Manual: </span>
			 <input type="radio" value="Manual" v-model="edited_item.gearbox"/>
		   </li>
		   <li>
			<li><button v-bind:disabled='save_switch' @click="save_edit">Save</button><</li>
		  </ul>
		</div>
	  </div>
	    <ul id='list' v-if="car_info_set.length">
		   <li v-for="element in car_info_set">
		      Brand is <b>{{element.brand}}</b>, model is <b>{{element.model}}</b> 
			  Engine is <b>{{element.engine}}</b>, and gearbox is <b>{{element.gearbox}}</b> 
			  <span id="delete_item" @click="delete_item(element.car_id)">[Delete]</span>
			  <span id="edit_item" @click="start_edit(element)">[Edit]</span>
		   </li>
		</ul>
		<p id="err_msg" v-else>{{err_msg}}</p>
		<hr>
		<ul id="create_item">
		   <li>
		     <span>Brand: </span>
			 <input placeholder="please enter brand" v-model.trim="new_item.brand"/><!--trim modifier is to remove whitespace-->
		   </li>
		   <li>
		     <span>Model: </span>
			 <input placeholder="please enter brand" v-model.trim="new_item.model"/>
		   </li>
		   <li>
		     <span>Engine: </span>
			 <select v-model="new_item.engine">
			    <option value="1">Petrol</option>
				<option value="2">Diesel</option>
				<option value="3">Electric</option>
				<option value="4">Hybrid</option>
				<option value="5">Hydrogen</option>
			 </select>
		   </li>
		   <li>
		     <span>Automatic: </span>
			 <input type="radio" value="1" v-model="new_item.gearbox"/>
			 <span>Manual: </span>
			 <input type="radio" value="2" v-model="new_item.gearbox"/>
		   </li>
		   <li>
		     <button v-bind:disabled='btn_switch' @click='create_item'>Create</button>
		   </li>
		</ul>
	  </div>
	  <script type="text/javascript">
	    var vm = new Vue({
		  el:'#app',
		  data:{
		      edit_switch:false,
		     new_item:{
			    brand:'',
				model:'',
				engine:'1',
				gearbox:'1'
			 }
		     car_info_set:[],
			 error_msg:"Sorry, no car in record",
			 url:'./interface.php',
			 edited_item:null,
		  },
		  created:function(){
		    this.retrieve_all();
		  },
		  computed:function(){
		    btn_switch:function(){
			  if(this.new_item.brand.length>=1 && this.new_item.model.length>=1){
			    return false;
			  }else{
			    return true;
			  }
			},
			save_switch:function(){
			  if(this.edited_item.brand.length>=1 && this.edited_item.model.length>=1){
			    return false;
			  }else{
			    return true;
			  }
			},
		  },
		  methods:{
		  start_edit:function(element){
		    this.edit_switch = true;
			this.edit_item = element;
		  },
		  save_edit:function(){
		     this.edit_switch = false,
			 var self = this;
			 $.post({
			   url:self.url,
			   data:{
			     action:'update_item',
				 edited_item:self.edited_item
			   }
			 })
			 .always(function(data){
			    self.car_info_set = [];
			    self.err_msg = ''
			 })
			 .done(function(data){
			    var result = JSON.parse(data);
				if(result[0]){
				    self.retrieve_all();
				}else{
				  self.err_msg = result[1];
				}
			 })
			 .fail(function(data){
			    self.err_msg = data.statusText
			 })
		  },
		  retrieve_all:function(){
		    var self = this;
			$.ajax({
			  url:self.url,
			  method:'POST',
			  data:{
			    action:'retrieve_all'
			  }
			})
			.always(function(data){
			  self.car_info_set = [];
			  self.err_msg = ''
			})
			.done(function(data){
			  var result = JSON.parse(data);
			  if(result[0]){
			     self.car_info_set = result[1];
			  }else{
			    self.err_msg = result[1];
			  }
			})
			.fail(function(data){
			   self.err_msg = data.statusText
			});
		   },
		   delete_item:function(car_id){
		     var self = this;
			 $.post({
			    url:self.url,
				data:{
				  action:"delete_item",
				  car_id:car_id
				}
			 })
			 .always(function(data){
			    self.car_info_set = [];
			    self.err_msg = ''
			 })
			 .done(function(data){
			    var result = JSON.parse(data);
				if(result[0]){
				    self.retrieve_all();
				}else{
				  self.err_msg = result[1];
				}
			 })
			 .fail(function(data){
			     self.err_msg = data.statusText
			 })
		   },
		   create_item : function(){
		     var self = this;
			 $.post({
			   url:self.url,
			   data:{
			     action:'create_item',
				 new_item:self.new_item
			   }
			 })
			 .always(function(data){
			    self.car_info_set = [];
			    self.err_msg = ''
			 })
			 .done(function(data){
			    var result = JSON.parse(data);
				if(result[0]){
				    self.retrieve_all();
				}else{
				  self.err_msg = result[1];
				}
			 })
			 .fail(function(data){
			    self.err_msg = data.statusText
			 })
		   }
		   
		  }
		})
		setInterval(function(){
		   vm.retrieve_all();
		},1000)
	  </script>
   </body>
</html>