<!DOCTYPE html>
<html>
  <head>
      <title>Page Title</title>
	  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	  <meta content="width=device-width, initial-scale=1.0" name="viewport">
	  <style>
	 
	  </style>
	  <script type="text/javascript" src="vue.js"></script>
  </head>
  <body>
  
    <div id="app">
	   <comp></comp>
	</div>
	
	<template id='temp'>
	  <div>
	    <ul v-if="list_info.length">
		  <li v-for="element in list_info">
		    The brand is {{element.brand}} and model is {{element.model}}
		  </li>
		</ul>
		<p v-else>No Item Found...</p>
	  </div>
	</template>
    
	 <script type="text/javascript">
	 Vue.component('comp',{
	    //template:'#temp',
		render:function(createElement){
		   if(this.list_info){
		     var span1 = createElement('span','The brand is ');
			 var span2 = createElement('span',' and the model is ')
			 var all_li = this.list_info.map(function(element){
			   return createElement(
			     'li',
				 [span1,element.brand,span2,element.model]
			   )
			 })
			 
			 var ul = createElement('ul',all_li)
			 return createElement('div',[ul])
		   }else{
		     var p = createElement('p','No Item found...')
			 return createElement('div',[p])
		   }
		}
	   data:function(){
	     return{
		    list_info:[
			  {brand:'Toyota',model:'Supra'},
			  {brand:'Nissan',model:'GT-R'},
			  {brand:'Honda',model:'NSX'},
			  {brand:'Lexus',model:'LX570'},
			  {brand:'Toyota',model:'Supra'},
			]
		 }
	   }
	 })
	 
	   var vm = new Vue({
	     el:'#app',
		 data:{
		   msg:'MSG defined in Vue data'
		 },
		 
	   })
	 </script>
  </body>
</html>